<template>
    <body class="index-page">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
            <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="" rel="tooltip" data-placement="bottom">
                <span>MissionTonNamib•</span> Science et aventure
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                    <a>
                        MissionTonNamib•
                    </a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="tim-icons icon-simple-remove"></i>
                    </button>
                    </div>
                </div>
                </div>
                <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/ClbSndwch2" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/Le-Club-Sandwich-20-560052514405741/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.twitch.tv/isisclubsandwich2" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Twitch</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-default d-none d-lg-block" href="http://www.missiontonamib.com" target="_blank">
                        <i class="tim-icons icon-cloud-download-93"></i> En savoir plus
                    </a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="wrapper">
            <div class="page-header header-filter">
            <div class="squares square1"></div>
            <div class="squares square2"></div>
            <div class="squares square3"></div>
            <div class="squares square4"></div>
            <div class="squares square5"></div>
            <div class="squares square6"></div>
            <div class="squares square7"></div>
            <div class="container">
                <div class="content-center brand">
                    <h1 class="h1-seo">MissionTonNamib•</h1>
                    <h3>La technologie au service de l'aventure, Rejoignez-nous !</h3>
                    <button v-on:click="goToMonitoring" type="button" class="btn btn-primary">C'est parti</button>
                </div>
            </div>
            </div>
        </div>
    </body>
</template>

<script>

export default {

    components: {
        
    },

    data(){
        return{
          
        }
    },

    methods:{
        goToMonitoring(){
            this.$emit('interface',true)
        },
    },

    mounted:function(){

    }
}
</script>

<style lang="css">
@import '../assets/css/blk-design-system.css';
@import '../assets/demo/demo.css';
</style>


