<template>
    <div class="main-content">
        <hr class="line-info">
        <h1>Détails des tâches
            <span class="text-info">à faire</span>
        </h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Ajouter une tâche</label>
            <input type="todo" class="form-control" id="exampleInputEmail1" aria-describedby="todo" placeholder="Entrer une tâche">
        </div>
        <div class="group-check">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ratione ut omnis ullam nobis veniam perspiciatis impedit quisqu
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ratione ut omnis ullam nobis veniam perspiciatis impedit quisquam, u
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ratione ut omnis ullam nobis veniam perspiciatis impedit quisquam,
                </label>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="css">
.form-check{
    margin-top: 2em;
}
</style>


