<template>
    <div class="main-content">
        <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Infos robot 1 (Batterie)</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#6c5ce7" class="fab fa-android icon-custom"></i>
                                    <span style="color:#6c5ce77d" class="text-custom">85 %</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Infos robot 2 (Batterie)</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#74b9ff" class="fab fa-android icon-custom"></i>
                                    <span style="color:#74b9ffb0" class="text-custom">67 %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Localisations GPS robots</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <iframe style="border: 0;-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d782026.2775522373!2d15.511308053679988!3d-24.370070536667743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1c74f8343ddbf5a1%3A0xda0fb83c1339ad83!2sD%C3%A9sert+du+Namib%2C+Namibie!3m2!1d-24.288871399999998!2d15.260481299999999!5e0!3m2!1sfr!2sfr!4v1544147549228" width="100%" height="250" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>  
        <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Localisation GPS drônes</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <iframe style="border: 0;-webkit-filter: grayscale(100%);filter: grayscale(100%);" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d782026.2775522373!2d15.511308053679988!3d-24.370070536667743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1c74f8343ddbf5a1%3A0xda0fb83c1339ad83!2sD%C3%A9sert+du+Namib%2C+Namibie!3m2!1d-24.288871399999998!2d15.260481299999999!5e0!3m2!1sfr!2sfr!4v1544147549228" width="100%" height="250" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Info drône 1 (Batterie)</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#F44336" class="fas fa-plane icon-custom"></i>
                                    <span style="color:#f44336a3" class="text-custom">95 %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Info drône 2 (Batterie)</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#7953c3" class="fas fa-plane icon-custom"></i>
                                    <span style="color:#7953c3a6" class="text-custom">70 %</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div class="chart-area">
                                    <canvas id="myChart" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="css">
.text-custom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}
.icon-custom{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    margin-top: 0.25em;
}
</style>