<template>
    <div class="main-content">
        <h5 class="text-on-back">65%</h5>
        <hr class="line-primary" style="background:transparent;">
        <h1 class="card-title">Avancement <span class="text-primary">Mission</span></h1>
        <div class="progress-container progress-primary">
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
            </div>
        </div>
        <div id="alert-fix" class="alert alert-danger alert-with-icon">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span data-notify="icon" class="tim-icons icon-trophy"></span>
            <span><b> Heads up! - </b> This is a regular notification made with ".alert-info"</span>
        </div>
        <div class="monitoring-global">
            <div class="row">
                <div class="col-md-12">
                    <h2>Monitoring
                    <span class="text-info">Global</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Batterie</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="doughnut-chart" width="800" height="450"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Réserve d'eau</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-on-back center-text" style="width: 80%;margin: 0 auto;">80%</h5>
                            <div class="progress-container progress-warning progress-spe">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Météo</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div class="chart-area">
                                    <canvas id="line-chart" width="800" height="450"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-10" style="text-align:center;">
                    <span class="text-primary plus-text">En savoir plus</span>
                    <button class="btn btn-primary btn-fab btn-icon btn-round plus">                        
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="health-global">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Santé
                            <span class="text-info">Global</span>
                            </h2>
                        </div>
                    </div>          
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card card-chart card-plain">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-left">
                                            <hr class="line-primary">
                                            <h5 class="card-category">Total Investments</h5>
                                            <h2 class="card-title">Fréquence Cardiaque</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <i class="fas fa-heartbeat icon-custom"></i>
                                    <span class="text-custom">90 bpm</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card card-chart card-plain">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-left">
                                            <hr class="line-primary">
                                            <h5 class="card-category">Total Investments</h5>
                                            <h2 class="card-title">Température Corporelle</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <i class="fas fa-thermometer-three-quarters icon-custom2"></i>
                                    <span class="text-custom2">37.6°C</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8" style="text-align:center;">
                            <span class="text-primary plus-text">En savoir plus</span>
                            <button class="btn btn-primary btn-fab btn-icon btn-round plus">                        
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="gestion-global">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Gestion
                            <span class="text-info">Global</span>
                            </h2>
                        </div>
                    </div>          
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card card-chart card-plain">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-left">
                                            <hr class="line-primary">
                                            <h5 class="card-category">Total Investments</h5>
                                            <h2 class="card-title">Batterie robots</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <i class="fas fa-battery-three-quarters icon-custom3"></i>
                                     <span class="text-custom3">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card card-chart card-plain">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-sm-12 text-left">
                                            <hr class="line-primary">
                                            <h5 class="card-category">Total Investments</h5>
                                            <h2 class="card-title">Production électricité</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <i class="fas fa-plug icon-custom4"></i>
                                    <span class="text-custom4">700 W/h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-8" style="text-align:center;">
                            <span class="text-primary plus-text">En savoir plus</span>
                            <button class="btn btn-primary btn-fab btn-icon btn-round plus">                        
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    mounted:function(){

        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
            datasets: [
                {
                label: "Population (millions)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                data: [2478,5267,734,784,433]
                }
            ]
            },
            options: {
            title: {
                display: false,
                text: 'Predicted world population (millions) in 2050'
            }
            }
        });

        new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
            datasets: [{ 
                data: [86,114,106,106,107,111,133,221,783,2478],
                label: "Africa",
                borderColor: "#3e95cd",
                fill: false
            }, { 
                data: [282,350,411,502,635,809,947,1402,3700,5267],
                label: "Asia",
                borderColor: "#8e5ea2",
                fill: false
            }, { 
                data: [168,170,178,190,203,276,408,547,675,734],
                label: "Europe",
                borderColor: "#3cba9f",
                fill: false
            }, { 
                data: [40,20,10,16,24,38,74,167,508,784],
                label: "Latin America",
                borderColor: "#e8c3b9",
                fill: false
            }, { 
                data: [6,3,2,2,7,26,82,172,312,433],
                label: "North America",
                borderColor: "#c45850",
                fill: false
            }
            ]
        },
        options: {
                        responsive: true,
                    maintainAspectRatio: false,
            title: {
            display: false,
            text: 'World population per region (in millions)'
            }
        }
        });
    }
    
}
</script>

<style lang="css" scoped>
.center-text{
    position: relative !important;
    font-size: 5em;
    text-align: center !important;
}
.progress-spe{
    width: 80%;
    margin: 0 auto;
}
.text-custom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #ff788294;
}
.icon-custom{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    color: #ff7882;
    margin-top: 0.25em;
}
.text-custom2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffc1078a;
}
.icon-custom2{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    color: #ffc107;
    margin-top: 0.25em;
}
.text-custom3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #28a7459c;
}
.icon-custom3{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    color: #28a745;
    margin-top: 0.25em;
}
.text-custom4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #dc354585;
}
.icon-custom4{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    color: #dc3545;
    margin-top: 0.25em;
}
</style>


