<template>
<div class="app">
    <nav class="menu-left">
        <ul class="list-menu-items">
            <a v-on:click.prevent="goTo('home')" class="nav-link hamburg" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-home"></i>
            </a>
            <a v-on:click.prevent="goTo('global')" class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-th-list"></i>
                <p class="p-menu">Globale</p>
            </a>
            <a v-on:click.prevent="goTo('Monitoring')" class="nav-link" rel="tooltip" title="Monitoring" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-globe"></i>
                <p class="p-menu">Monitoring</p>
            </a>
            <a v-on:click.prevent="goTo('health')" class="nav-link" rel="tooltip" title="Sante" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-heartbeat"></i>
                <p class="p-menu">Sante</p>
            </a>
            <a v-on:click.prevent="goTo('gestion')" class="nav-link" rel="tooltip" title="Gestion" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-database"></i>
                <p class="p-menu">Gestion</p>
            </a>
            <a v-on:click.prevent="goTo('check')" class="nav-link" rel="tooltip" title="CheckList" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-check-circle"></i><span class="badge badge-danger notifs">2</span>
                <p class="p-menu">CheckList</p>
            </a>
            <a v-on:click.prevent="goTo('share')" class="nav-link" rel="tooltip" title="Partage" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-share"></i>
                <p class="p-menu">Partage</p>
            </a>
            <a v-on:click.prevent="goTo('mobile')" class="nav-link" rel="tooltip" title="Partage" data-placement="bottom" href="" target="_blank">
                <i class="fas fa-mobile"></i>
                <p class="p-menu">Mobile</p>
            </a>
        </ul>
    </nav>
    <transition mode="out-in" name="page">
        <global-vue v-if="menu=='global'"></global-vue>
        <monitoring-precise v-if="menu=='monitoring'"></monitoring-precise>
        <health-precise v-if="menu=='health'"></health-precise>
        <gestion-precise v-if="menu=='gestion'"></gestion-precise>
        <check-list v-if="menu=='check'"></check-list>
        <share-vue v-if="menu=='share'"></share-vue>
        <mobile-vue v-if="menu=='mobile'"></mobile-vue>
    </transition>
</div>

</template>

<script>
import '../assets/js/plugins/chartjs.min.js'
import GlobalVue from './globalVue'
import MonitoringPrecise from './monitoringPrecise'
import HealthPrecise from './healthPrecise'
import GestionPrecise from './gestionPrecise'
import CheckList from './checkList'
import ShareVue from './shareVue'
import MobileVue from './mobileVue'
export default {

    data() {
        return {
            menu:'global',
        }
    },

    components:{
        GlobalVue,
        MonitoringPrecise,
        HealthPrecise,
        GestionPrecise,
        CheckList,
        ShareVue,
        MobileVue
    },

    mounted:function () {
        var ctx = document.getElementById("myChart").getContext("2d");
        var data = {
            datasets: [{
                data: [10, 20, 30]
            }],

        };
        var myPieChart = new Chart(ctx,{
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    },
    methods:{
        goTo(loc){
            if(loc=="home"){
                this.$emit('interface',true)
            }else if(loc=="Monitoring"){
                this.menu="monitoring"
            }else if(loc=="global"){
                this.menu="global"
            }else if(loc=="health"){
                this.menu="health"
            }else if(loc=="gestion"){
                this.menu="gestion"
            }else if(loc=="check"){
                this.menu="check"
            }else if(loc=="share"){
                this.menu="share"
            }else if(loc=="mobile"){
                this.menu="mobile"
            }
        },
    },
    
}
</script>

<style lang="css">
.menu-left{
    position: fixed;
    width: 6em;
    height: 100%;
    background-color: #1c202c;
    z-index: 1000;
}
.list-menu-items{
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.list-menu-items a{
    padding: 1em 0;
    font-size: 1.5em;
}
.hamburg{
    margin-bottom: 3em;
}
.main-content{
    position: absolute;
    margin: 2em 7em;
    width: calc(100% - 17em);
    left: 5em;
}
.card{
    width: 100%;
    height: 400px;
    background-color: #373d4e !important;
    box-shadow: 0 0 20px #1c202c !important;
}
.monitoring-global{
    margin-top: 2em;
    padding: 2em;
    border-radius: 7px;
}
.health-global{
    margin-top: 3em;
    padding: 2em;
    border-radius: 7px;
}
.gestion-global{
    margin-top: 3em;
    padding: 2em;
    border-radius: 7px;
}
.plus{
    font-size: 2em;
    height: 3.5rem;
    width: 3.5rem;
}
.plus-text{
    margin-right: 1em;
}
#alert-fix{
    margin-top: 2em;
}
.text-on-back{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5em;
}
.p-menu{
    font-size: 0.6em;
}
.notifs{
    position: absolute;
    border-radius: 50%;
    right: 5px;
}
</style>


