<template>
    <div class="main-content">
        <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Fréquence Cardiaque</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#dc3545" class="fas fa-heartbeat icon-custom"></i>
                                    <span style="color:#dc354585" class="text-custom">90 bpm</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Température Corporelle</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#00b894" class="fas fa-thermometer-three-quarters icon-custom"></i>
                                    <span style="color:#00b894ad" class="text-custom">37,6 °C</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Hydratation</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="bar-chart-hydra" width="800" height="450"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Temps de sommeil</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="line-chart-som" width="800" height="450"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Taux de stress</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <i style="color:#fdcb6e" class="far fa-frown icon-custom"></i>
                            <span style="color:#fdcb6e82" class="text-custom">Stable</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Pression artérielle</h2>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <i style="color:#ff7882" class="fas fa-heart icon-custom"></i>
                            <span style="color:#ff788294" class="text-custom">120 SYS</span>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
</template>
<script>
export default {
    mounted:function () {
            // Bar chart
            new Chart(document.getElementById("bar-chart-hydra"), {
                type: 'bar',
                data: {
                labels: ["17H", "18H", "19H", "20H", "21H"],
                datasets: [
                    {
                    label: "Litres",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                    data: [200,120,50,210,25]
                    }
                ]
                },
                options: {
                    responsive: true,
                maintainAspectRatio: false,
                legend: { display: false },
                title: {
                    display: false,
                    text: ''
                }
                }
            });
            new Chart(document.getElementById("line-chart-som"), {
                type: 'line',
                data: {
                    labels: ["10%","20%","30%","40%","50%","60%","70%","80%","90%","100%"],
                    datasets: [{ 
                        data: [12,8,6,7,10,5],
                        label: "Heures",
                        borderColor: "#3e95cd",
                        fill: false
                    }
                    ]
                },
                options: {
                    responsive: true,
                maintainAspectRatio: false,
                    title: {
                    display: false,
                    text: ''
                    }
                }
                });
    
}
}
</script>
<style lang="css">
.text-custom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}
.icon-custom{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    margin-top: 0.25em;
}
</style>
