<template>
    <div class="main-content">
        <hr class="line-info">
        <h1>Présentation de notre
            <span class="text-info">Interface mobile</span>
        </h1>
        <div class="row">
            <div class="col-md-6 center">
                <img src="../assets/img/mobile-frame.svg" alt="" srcset="">
                <div class="wrap-video">
                    <video autoplay loop width="100%" controls src="../assets/img/video.mp4"></video>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 5em;">
                <div class="mt">
                    <h3>Géolocalisation à l'extérieur</h3>
                    <hr class="line-info">
                    <p>L'application permet de repérer en permanence l'explorateur dans son milieu en le géolocalisation en temps réel sur une carte de son environnement, fournissant aussi une boussole.</p>
                </div>
                <div class="mt">
                    <h3>Géolocalisation du matériel</h3>
                    <hr class="line-info">
                    <p>L'explorateur, même dans des conditions difficiles, peut retrouver à tout moment son rover. Il est indiqué précisément sur la carte grâce à une balise.</p>
                </div>
                <div class="mt">
                    <h3>Affichage de données</h3>
                    <hr class="line-info">
                    <p>Au-delà des traditionnels indicateur de batterie et d'heure du téléphone directement dans l'application, un suivi en temps réel de la température extérieure est offerte.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="css">
.center{
    margin-top: 5em;
    text-align: center;
}
.wrap-video{
    position: absolute;
    top: 50%;
    width: 284px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 1em;
    overflow: hidden;
}
.mt{
    margin-top: 2em;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
}
</style>


