<template>
    <div class="main-content">
        <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Stock d'eau restant</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <i style="color:#60a3bc" class="fas fa-tint icon-custom"></i>
                            <span style="color:#60a3bc91" class="text-custom">170 L / 300 L</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Prévision vent</h2>
                                </div>
                                <div class="card-body">
                                    <i class="fab fa-cloudversify icon-custom"></i>
                                    <span style="color:white" class="text-custom">20 km/h</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Puissance consommée / Puissance produite</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="line-chart" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Puissance produite par éoliennes et solaires</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="bar-chart-horizontal" width="400" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Météo</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#b2bec3" class="fas fa-cloud icon-custom"></i>
                                    <span style="color:#b2bec3" class="text-custom">Nuageux</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="card card-chart card-plain">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-12 text-left">
                                    <hr class="line-primary">
                                    <h5 class="card-category">Total Investments</h5>
                                    <h2 class="card-title">Stock Nourriture</h2>
                                </div>
                                <div class="card-body">
                                    <i style="color:#fdcb6e" class="fas fa-utensils icon-custom"></i>
                                    <span style="color:#fdcb6e85" class="text-custom">50 rations</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <div class="chart-area">
                                    <canvas id="myChart" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
    </div>
</template>
<script>
export default {

    mounted:function () {
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
                datasets: [{ 
                    data: [86,114,106,106,107,111,133,221,783,2478],
                    label: "Puissance consommée",
                    borderColor: "#3e95cd",
                    fill: false
                }, { 
                    data: [282,350,411,502,635,809,947,1402,3700,5267],
                    label: "Puissance produite",
                    borderColor: "#8e5ea2",
                    fill: false
                }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                display: false,
                text: ''
                }
            }
            });
            new Chart(document.getElementById("bar-chart-horizontal"), {
                type: 'horizontalBar',
                data: {
                labels: ["Eolienne1", "Eolienne2", "Solaire1", "Solaire2"],
                datasets: [
                    {
                    label: "Energie",
                    backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
                    data: [2478,5267,734,784]
                    }
                ]
                },
                options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: { display: false },
                title: {
                    display: false,
                    text: ''
                }
                }
            });
    }
    
}
</script>

<style lang="css">
.text-custom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}
.icon-custom{
    position: relative;
    width: 100%;
    font-size: 8em;
    text-align: center;
    margin-top: 0.25em;
}
</style>

