<template>
    <div class="main-content">
        <hr class="line-info">
        <h1>Partage des
            <span class="text-info">dernières découvertes</span>
        </h1>

        <div class="form-group">
            <label for="subject">Sujet</label>
            <input type="text" class="form-control" id="subject" aria-describedby="subject" placeholder="Entrer un sujet">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Précision sur les découvertes</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>


        <div class="comment">
            <p class="text-primary">Date : 07/12/2018</p>
            <h3>Troisième découvertes de mon aventure</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique accusamus vel facilis optio culpa repudiandae quos! Suscipit deleniti voluptatibus ipsa modi repellat, cupiditate soluta fugit, eveniet, dolorem optio nisi quae.</p>
        </div>

        <div class="comment">
            <p class="text-primary">Date : 07/12/2018</p>
            <h3>Deuxième découvertes de mon aventure</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique accusamus vel facilis optio culpa repudiandae quos! Suscipit deleniti voluptatibus ipsa modi repellat, cupiditate soluta fugit, eveniet, dolorem optio nisi quae.</p>
        </div>

        <div class="comment">
            <p class="text-primary">Date : 07/12/2018</p>
            <h3>Première découvertes de mon aventure</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique accusamus vel facilis optio culpa repudiandae quos! Suscipit deleniti voluptatibus ipsa modi repellat, cupiditate soluta fugit, eveniet, dolorem optio nisi quae.</p>
        </div>

    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="css">
.form-check{
    margin-top: 2em;
}
h3{
    margin-bottom: 1em;
}
.comment{
    margin-top: 3em;
}
.form-group{
    margin-top: 1em;
}
</style>


