<template>
  <div id="app">
    <transition mode="out-in" name="page">
      <accueil @interface="goToMonitoring" v-if="menu=='accueil'"></accueil>
      <globalMonitoring @interface="goToHome" v-if="menu=='globalMonitoring'"></globalMonitoring>
    </transition>
  </div>
</template>

<script>
import Accueil from './components/Accueil'
import GlobalMonitoring from './components/globalMonitoring'

export default {
  name: 'App',
  components: {
    Accueil,
    GlobalMonitoring
  },
  data() {
        return {
            menu:'accueil',
        }
    },
  methods:{
    goToMonitoring(){
      this.menu='globalMonitoring';
    },
    goToHome(){
      this.menu='accueil';
    }
  }
}
</script>

<style lang="css">
.page-enter-active,
.page-leave-active {
  transition: opacity .7s, transform 0.7s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}
</style>
